# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment variables
.env
.env.*
!.env.example

# Node
node_modules/
.next/
out/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json

# AWS
.aws/
*.pem

# macOS
.DS_Store

# Logs
*.log
